.o_documents_inspector .o_documents_inspector_info .o_inspector_table .o_inspector_label {
    white-space: nowrap;
}
div.custom_view_kanban .o_search_panel_section.o_search_panel_filter[data-section-id = '3'] .o_search_panel_label_title.text-truncate {
    color: transparent;
    position: relative;
}
div.custom_view_kanban .o_kanban_record.o_kanban_ghost.flex-grow-1.flex-md-shrink-1.flex-shrink-0.my-0 {
                background-color: rgba(0, 0, 0, 0) !important;
                color: var(--biz-theme-secondary-text-color) !important;
            }

div.custom_view_kanban .o_documents_inspector .o_documents_inspector_info .o_inspector_table .o_inspector_label > * {
    max-width: 200px !important;
}

div.custom_view_kanban .o_search_panel_section.o_search_panel_filter[data-section-id = '3'] li:first-child span.o_search_panel_label_title.text-truncate::before {
    content: "Đính kèm với";
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.custom_view_kanban .o_search_panel_section.o_search_panel_filter[data-section-id = '3'] li:nth-child(2) span.o_search_panel_label_title.text-truncate::before {
    content: "Không phải tài liệu";
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.custom_view_kanban .o_search_panel_section.o_search_panel_filter[data-section-id = '3'] li:nth-child(2) span.o_search_panel_label_title.text-truncate {
    width: 100%;
}
